@{
    ViewBag.Title = "Flight Search";
}
<h1>Code Samples</h1>
<div>
    <ul>
        <li>@Html.ActionLink("Find Flights - Simple form that outputs sortable data table", "FindFlights"  )</li>
        <li>@Html.ActionLink("Convert Currency - Form that consumes web service", "CurrencyConverter" )</li>
    </ul>
</div>